.site-header {
	width: 1122px;
	margin: 30px 33px 54px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site-title {
	width: 790px;
}
.title {
	margin: 0;
	color: #252733;
	font-family: Mulish;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.3px;
}

.icons {
	display: flex;
	align-items: center;
	gap: 24px;
}

.avatar-name {
	padding: 0 14px 0 32px;
	margin-left: 32px;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.2px;
	border-left: 1px solid #dfe0eb;
	color: var(--grayscale-black, #252733);
}
