.sidebar {
	width: 255px;
	height: 100vh;
	background-color: #363740;
}

.logo {
	padding: 37px 0 59px 32px;
	display: flex;
	align-items: center;
}

.logo-text {
	margin-left: 12px;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.4px;
	color: #a4a6b3;
}

.nav__list {
	padding: 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	list-style-type: none;
}

.nav__item {
	width: 255px;
	padding: 18px;
	padding-left: 32px;
	display: flex;
	align-items: center;
	color: #a4a6b3;
	opacity: 1;
	border-left: 3px solid #363740;
}

.nav__item:active {
	border-left: 3px solid #DDE2FF;
	color: #dde2ff;
	background-color: #9fa2b4;
}

.item-name {
	margin: 0;
	margin-left: 24px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.2px;
}
